apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ .Values.appName }}-metrics
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ .Values.appName }}
    release: kube-prometheus-stack 
spec:
  selector:
    matchLabels:
      app: {{ .Values.appName }}
  endpoints:
    - port: metrics
      path: /metrics
      interval: 30s