apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.scheduler.name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Values.scheduler.name }}
    group: {{ .Values.webapp.group }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Values.scheduler.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.scheduler.name }}
    spec:
      containers:
      - name: {{ .Values.scheduler.name }}
        image: {{ .Values.scheduler.container.image }}
        imagePullPolicy: IfNotPresent
        args:
          - dask-scheduler
        ports:
        - containerPort: {{ .Values.scheduler.container.workerPort }}
        - containerPort: {{ .Values.scheduler.container.dashboardPort }}
        resources:
          requests:
            memory: {{ .Values.scheduler.container.requests.memory }}
            cpu: {{ .Values.scheduler.container.requests.cpu }}
          limits:
            memory: {{ .Values.scheduler.container.limits.memory }}
            cpu: {{ .Values.scheduler.container.limits.cpu }}