apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.worker.name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Values.worker.name }}
    group: {{ .Values.webapp.group }}
    component: worker
spec:
  replicas: {{ .Values.worker.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Values.worker.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.worker.name }}
        component: worker
    spec:
      containers:
      - name: {{ .Values.worker.name }}
        image: {{ .Values.scheduler.container.image }}
        imagePullPolicy: IfNotPresent
        args:
          - dask-worker
          - {{ .Values.scheduler.name }}:{{ .Values.scheduler.container.workerPort }}
        resources:
          requests:
            memory: {{ .Values.worker.container.requests.memory }}
            cpu: {{ .Values.worker.container.requests.cpu }}
          limits:
            memory: {{ .Values.worker.container.limits.memory }}
            cpu: {{ .Values.worker.container.limits.cpu }}